<!--The whole content below can be removed with the new code.-->
<div style="text-align:center"
     class="container-fluid">
  <!-- <div class="progress">
    <div class="progress-bar progress-bar-striped active"
         role="progressbar"
         aria-valuenow=70
         aria-valuemin="0"
         aria-valuemax="100"
         style="width:70%">70%
      <span class="sr-only">70% Complete</span>
    </div>
  </div> -->
</div>
<app-layout>
  <div class="page-header">
    <h1>
      Inventory management
    </h1>
  </div>
</app-layout>
<pm-products></pm-products>